* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  line-height: 1.6;
}

.container {
  display: grid;
  width: 90vw;
  margin: 10px auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.2fr 1.5fr 1.5fr 1fr;
  grid-gap: 10px;
}

.grid-item {
  border-bottom: 3px solid red;
  padding: 20px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

h3,
h5 {
  text-transform: capitalize;
}

h5 {
  color: #c2bdbd;
}

.title {
  margin-bottom: 20px;
}
.bold-text {
  font-weight: 600;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 5px;
}

.senior,
.osama,
.sidebar-small,
.junior-one,
.junior-three,
.junior-four,
.minor {
  background-color: #fff;
}
.osama {
  grid-row: span 1;
  grid-column: span 2;
}

.sidebar-small {
  grid-row: span 2;
  grid-column: span 1;
}
.sidebar-long {
  color: #fff;
  background-color: #000;
  grid-row: 1 / span 3;
  grid-column: 4 / span 1;
}

.senior {
  grid-row: span 1;
  grid-column: span 1;
}

.junior-one {
  grid-row: span 1;
  grid-column: span 1;
}

.junior-two {
  grid-row: span 1;
  grid-column: span 1;
  color: #fff;
  background-color: #000;
}

.junior-three {
  grid-row: span 1;
  grid-column: span 1;
}

.junior-four {
  grid-row: span 1;
  grid-column: span 1;
}

.top {
  color: #fff;
  background-color: #000;
  grid-row: span 1;
  grid-column: span 2;
}
.minor {
  grid-row: span 1;
  grid-column: span 2;
}
