/* importing sass files */
/* general btns trial */
.btn {
  border-radius: 18px;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  outline: transparent;
  text-transform: capitalize;
  background-color: transparent;
  border: 2px solid var(--idenity-clr);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  background-color: var(--idenity-clr);
}

/* === my rules ===*/
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.white-space-50 {
  padding-bottom: 50px;
}

.white-space-100 {
  padding-bottom: 100px;
}

/* === my rules === */
/* === fonts === */
@font-face {
  font-family: "droid";
  src: url("/fonts/Droid-Arabic-Kufi.ttf");
}
@font-face {
  font-family: "droid";
  src: url("/fonts/DroidKufi-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "droid";
  src: url("/fonts/DroidKufi-Bold.ttf");
  font-weight: 700;
}
/* === fonts === */
body {
  font-family: "droid";
  direction: rtl;
}

.section-title {
  font-size: 18px;
}

header {
  background-image: url("../img/food (14).jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  position: relative;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #d1d1d1;
  font-weight: 900;
  font-size: 18px;
  padding: 10px;
  z-index: 9999;
  color: #97293c;
}
header nav .navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}
header nav .navigation a {
  margin-left: 5px;
}
header nav .logo {
  display: flex;
  align-items: center;
}
header .hero-text {
  color: #d9d2d2;
  width: 50%;
  margin: 100px 0;
}
header .hero-text h1 {
  padding-top: 20px;
}
header .hero-text p {
  line-height: 2;
  padding: 5px 0px;
  font-size: 14px;
}

/* start who section */
.who .section-info p {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 700;
}
.who .color-boxes .box {
  color: #fff;
  padding: 35px 15px;
  text-align: center;
  border-radius: 10px;
  background-color: #44a744;
}
.who .color-boxes .box.two {
  background-color: #faa200;
}
.who .color-boxes .box i {
  font-size: 48px;
  margin-bottom: 10px;
}
.who .color-boxes .box p {
  font-size: 16px;
  line-height: 1.5;
}

/* End who section */
/* start products section */
.products {
  background-color: #f8f8f8;
}
.products h2.title {
  text-align: center;
}
.products .image-item img {
  border-radius: 50%;
  width: 210px;
  height: 210px;
}

/* End products section */
/* start service section */
.service {
  background-image: url("../img/food (12).jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  /* @include overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }*/
}
.service .service-box {
  clip-path: polygon(13% 12%, 80% 0%, 97% 74%, 0 67%);
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 400px;
}
.service h2 {
  text-align: right;
  padding-top: 50px;
}
.service p {
  padding: 10px 35px;
}

/* End service section */
h2.title {
  font-size: 42px;
  margin-bottom: 15px;
}

section {
  padding: 30px 0;
}

.center {
  text-align: center;
}

/* start start section */
.start {
  background-color: #44a744;
  color: #fff;
}
.start .start-details p {
  line-height: 1.6;
  margin-bottom: 25px;
}
.start .start-details span {
  padding: 100px;
  border: 1px solid red;
  /* &::after {
    content: "";
    position: absolute;
    height: 120%;
    width: 1px;
    top: 0;
    left: -250%;
    background-color: #fff;
  }*/
}

/* End start section */
/* start value section */
.value .value-item {
  margin-bottom: 45px;
}
.value .value-item img {
  width: 90px;
  height: 90px;
}

/* End value section */
/* Start products section */
.clients {
  background-color: #fff;
}

/* End products section */
/* Start Why us section */
.why-us {
  background-color: #faa200;
  color: #fff;
}

/* End Why us section */
/* Start footer*/
/* End footer*/

/*# sourceMappingURL=style.css.map */
